################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/meally-api/.config/dotnet-tools.json
